<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="recuadro">
            <h2>SEGUNDO PARCIAL TEM-742</h2>
            <p>Nombre: Carolina Cano Tapia</p>
            <p>Carnet: 11544121 LP</p>
        </div>
        <h1>Gestión de Productos</h1>
        <a href="{{ url_for('nuevo') }}" class="btn">Nuevo Producto</a>
        <br>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha de Vencimiento</th>
                <th>Categoría</th>
                <th></th>
                <th></th>
            </tr>
            {% for item in productos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.fecha_vencimiento }}</td>
                <td>{{ item.categoria }}</td>
                <td><a href="{{ url_for('editar', id=item.id) }}" class="btn">Editar</a></td>
                <td>
                    <form action="{{ url_for('eliminar', id=item.id) }}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
